@charset "utf-8";
body{
    background-color: #a3c2c2;
}
header{
    text-align: center;
    font-size: 50px;
}
main{
    width: 80%;
    max-width: 700px;
    margin: auto;
    background-color: whitesmoke;
    display: grid;
    grid-template-areas: 
    "h"
    "n"
    "s"
    "a"
    ;
}
nav a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding-right: 5px;
    padding-left: 5px;
    grid-area: n;
    
}
nav a:hover{
    background-color: #a3c2c2;
    color: black;
}
section{
    margin: 5px;
    grid-area: s;
}
header{
    grid-area: h;
}
article{
    grid-area: a;
}