@charset "utf-8";

table{
    width: 80%;
    border-collapse:collapse;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

table, td, th {
    border: 1px solid lightblue;
}

th{
    text-align: center;
}

td{
    text-align: left;
}

tr:nth-child(even) {background-color: rgb(196, 229, 240);}